$Color3: #253897
$ShadowColor3: #fff


.sect_main
    background: $Color3
    border: 5px solid #364bb3
    color: #fff
    float: right
    width: 70%

    margin-bottom: 20px

    .sect_post
        padding: 6px
        article
            padding: 20px

            .title
                margin-bottom: 20px
            
            p
                margin-bottom: 15px
                line-height: 27px

            .div_img
                text-align: center
                margin: 0
                margin-bottom: 10px
                overflow: hidden

                img
                    border: 3px solid #fff
                    height: 200px   


.entry_1
    border: 5px solid #79103d
    background-color: #510023
    padding: 28px
    margin: 0
    
    overflow: hidden

.entry_2
    border: 5px solid #107927
    background-color: #004323
    padding: 18px
    margin: 0
    
    overflow: hidden
