$Color3: #3E606F
$ShadowColor3: #fff


.sect_main
    background: $Color3
    color: #fff
    float: right
    width: 70%

    border-radius: 5px

    .sect_post
        padding: 6px

        article
            padding: 20px

            .title
                text-decoration: underline
                margin-bottom: 20px
                text-align: center

                font-size: 20px

            .subtitle
                margin-bottom: 2px
                text-decoration: underline
                font-size: 18px
            
            p
                margin-bottom: 15px
            

            .div_img
                margin-bottom: 10px
                text-align: center
                overflow: hidden
                margin: 0

                img
                    border: 3px solid #fff
                    height: 200px   


.entry_1
    border: 5px solid #79103d
    background-color: #510023
    padding: 28px
    margin: auto
    
    overflow: hidden

.entry_2
    border: 5px solid #107927
    background-color: #004323
    margin-bottom: 20px
    padding: 18px
    
    overflow: hidden

.entry_3
    border: 5px solid #777910
    background-color: #433c00
    padding: 28px
    margin: auto

    overflow: hidden