$WidgetColor: #3e606f
$ColorFont: #fcfff5

aside
    background: $WidgetColor
    /* border: 5px solid #437d9b */
    padding: 20px
    float: left
    width: 30%

    .div_widget
        padding: 0px 20px 0px 20px
        margin-bottom: 20px
        color: $ColorFont

        .title
            border-bottom: 1px solid #fff
            margin-bottom: 10px
            text-align: center

        ul
            margin: 0px 0px 0px 30px

            // border: 1px solid #fff

            li
                button
                    font-family: 'Edu NSW ACT Foundation', cursive
                    background: none    
                    border: none
                    color: $ColorFont

                    // border: 1px solid #fff
                    font-size: 20px

                botton:hover
                    cursor: pointer
                    text-decoration: underline